Standard: c++20
BasedOnStyle: GNU
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 90
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: None
PointerAlignment: Right
SpaceAfterCStyleCast: true
SortIncludes: true
IncludeBlocks: Regroup
SpacesBeforeTrailingComments: 1
SpaceAfterTemplateKeyword: true
AlwaysBreakTemplateDeclarations: MultiLine
ReflowComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
Cpp11BracedListStyle: false
AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: true
BreakAfterOpenBracketFunction: true
AlignEscapedNewlines: Right
AlwaysBreakAfterReturnType: All
BreakBeforeCloseBracketBracedList: true
BreakStringLiterals: true
BreakBeforeBraces: Attach
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
ContinuationIndentWidth: 4
AlignArrayOfStructures: Left
